<header>
    <nav class="bg-gray-800 text-white py-3 px-4 flex items-center justify-between">
        <a class="font-bold text-xl tracking-tight" href="#">My Site</a>

        <div class="relative inline-block text-left">
            <div class="group">
                <button type="button"
                    class="inline-flex justify-center items-center w-full px-4 py-2 text-sm font-medium text-white bg-gray-800 hover:bg-gray-700 focus:outline-none focus:bg-gray-700">
                    Category
                    <!-- Dropdown arrow -->
                    <svg class="w-4 h-4 ml-2 -mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 12l-5-5h10l-5 5z" />
                    </svg>
                </button>
        
                <!-- Dropdown menu -->
                <div
                    class="absolute left-0 w-40 mt-1 origin-top-left bg-white divide-y divide-gray-100 rounded-md shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition duration-300">
                    <div class="py-1">
                        {% for category in categories %}
                        <a href="{{ category.get_absolute_url }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">{{ category.title }}</a>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="flex items-center">
            <a class="text-sm px-4 py-2 leading-none rounded-full hover:bg-gray-700" href="#">Home</a>
            <a class="text-sm px-4 py-2 leading-none rounded-full hover:bg-gray-700" href="#">About</a>
            {% if user.is_staff %}
                <a class="text-sm px-4 py-2 leading-none rounded-full hover:bg-gray-700" href="{% url 'create' %}">Create</a>
            {% endif %}
        </div>

        <a href="{% url 'login' %}">
            <button style="margin-left: 800px;" class="border border-green-500 bg-green-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-green-600 focus:outline-none focus:shadow-outline">
					Log In
			</button>
        </a>

        <a href="{% url 'signup' %}">
            <button style="margin-right: 50px;" class="border border-teal-500 bg-teal-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-teal-600 focus:outline-none focus:shadow-outline">
                Sign Up
            </button>
        </a>
    </nav>
</header>